<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Логин</title>
    <link rel="shortcut icon" type="image/jpg" href="/mikuclub/static/images/favicon.ico" />
    <link rel="stylesheet" href="/mikuclub/static/style-login-page.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
</head>

<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
    </style>

    <nav>
        <div class="nav-left">
            <a href="/mikuclub"> <img src="/mikuclub/static/images/logo-1.png" class="logo"></a>
            <a href="/mikuclub"><img src="/mikuclub/static/images/logo-2.png" class="logo-2"></a>
            <ul>
                <li>
                    <span class="material-icons-outlined">
                        notifications
                        </span>

                </li>
            </ul>
        </div>
        <div class="nav-right">
            <div class="search-box">
                <span class="material-icons-outlined">
                    search
                    </span>
                <input type="text" placeholder="Поиск...">
            </div>
            <div class="nav-user-icon online" onclick="settingsMenuToggle()">
                <img src="/mikuclub/static/images/profile-11.png">
            </div>
        </div>
        <!-- Settings menu -->
        <div class="settings-menu">

            <div id="dark-btn">
                <span></span>
            </div>
            <div class="dark-btn-text">
                <span id="switch-text">Сменить тему</span>
            </div>

            <div class="settings-menu-inner">
                <div class="user-profile">
                    <img src="/mikuclub/static/images/profile-11.png">
                    <div>
                        <!-- <p>{{ user.username }}</p> -->
                        <a href="/mikuclub/templates/profile.html">Профиль</a>
                    </div>
                </div>
                <hr>
                <div class="user-profile">
                    <i class='bx bxs-megaphone'></i>
                    <div>
                        <p>Feedback</p>
                        <a href="https://discord.gg/CT28eSAKGQ">Помочь проекту</a>
                    </div>
                </div>
                <hr>

                <div class="setting-links">
                    <i class='bx bx-cog'></i>
                    <a href="#">Настройки и приватность <i class='bx bxs-chevron-right'></i></a>
                </div>
                <hr>
                <div class="setting-links">
                    <i class='bx bx-help-circle'></i>
                    <a href="#">Помощь <i class='bx bxs-chevron-right'></i></a>
                </div>
                <hr>
                <div class="setting-links">
                    <i class='bx bx-desktop'></i>
                    <a href="#">Настройки отображения <i class='bx bxs-chevron-right'></i></a>
                </div>
                <hr>
                <div class="setting-links">
                    <i class='bx bxs-log-out'></i>
                    <a href="#">Выйти </a>
                </div>
                <a href="/mikuclub/templates/registration/login.html">
                    <h4 class="login-button">Войти</h4>
                </a>
                <a href="/mikuclub/templates/registration/signup.html">
                    <h4 class="register-button">Регистрация</h4>
                </a>
            </div>
    </nav>

    <div class="container-login">
        <form action="#">
            <div class="title">Логин</div>
            <div class="input-box">
                <input type="text" placeholder="Логин / E-mail" required>
                <div class="underline"></div>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Пароль" required>
                <div class="underline"></div>
            </div>
            <div class="input-box button">
                <input type="submit" value="Войти">
                <div class="underline"></div>
            </div>
        </form>
        <div class="option">или войти с помощью социальной сети</div>
        <div class="twitter">
            <a href="#"><i class='bx bxl-twitter' ></i>Войти с помощью Twitter</a>
        </div>
        <div class="vk">
            <a href="#"><i class='bx bxl-vk' ></i>Войти с помощью VK</a>
        </div>
        <div class="apple">
            <a href="#"><i class='bx bxl-apple' ></i>Войти с помощью Apple</a>
        </div>
    </div>




    <div class="footer">
        <p>©Copyright 2022 - MIKUCLUB - Mikufan's community.</p>
        <br/>
        <a href="/mikuclub"> <img src="/mikuclub/static/images/logo-1.png" class="logo"></a>
        <a href="/mikuclub"><img src="/mikuclub/static/images/logo-2.png" class="logo-2"></a>
    </div>
    <script src="/mikuclub/static/script.js"></script>
</body>

</html>