* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

html,
body {
  display: grid;
  height: 100vh;
  width: 100%;
  background: var(--body-color);
  place-items: center;
}

:root {
  --body-color: #0a0a0a;
  --nav-color: #19191a;
  --bg-color: #19191a;
  --icon-color: #fe54fe;
  --side-color: #6dcfd6;
  --text-color: #fff;
}
/* Light Theme */
.light-theme {
  --body-color: #d6d6d6;
  --nav-color: #efefef;
  --bg-color: #efefef;
  --icon-color: #3454d1;
  --side-color: #6dcfd6;
  --text-color: #000;
}

nav {
  margin-top: -16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-color);
  padding: 5px 5%;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}
.logo {
  width: 50px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.9s;
}
.logo:hover {
  transition: 0.9s;
  transform: rotateY(360deg);
}
.logo-2 {
  width: 150px;
  margin-left: 10px;
  cursor: pointer;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}
.nav-left ul li {
  display:none;
  list-style: none;
  display: inline-block;
}
.nav-left ul li span {
  width: 10px;
  margin: 0 30px;
}
.nav-left .material-icons-outlined {
  color: var(--icon-color);
  cursor: pointer;
  padding-top: 3px;
  zoom: 0%;
  padding: 10px;
}

.material-icons-outlined {
  color: var(--icon-color);
  cursor: pointer;
  align-items: center;
}
.left-sidebar .material-icons-outlined {
  padding-top: 8px;
}
.nav-user-icon img {
  display:none;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.nav-user-icon {
  display:none;
  margin-left: 15px;
}
.search-box {
  background: transparent;
  width: 250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  transition: 0.3s;
  transition-delay: 1.5s;
  border: 1px solid var(--icon-color);
}
.search-box:hover {
  width: 400px;
  transition: 0.3s;
  background: var(--nav-color);
}
.search-box img {
  width: 18px;
}
.search-box input {
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
  color: var(--text-color);
  padding-top: 14px;
}
nav .nav-right .search-box {
  position: relative;
  left: -53px;
}

.online {
  position: relative;
}
.online::after {
  display:none;
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
  position: absolute;
  top: 0px;
  right: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}
.left-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
}
.right-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  background: var(--bg-color);
  padding: 20px;
  border-radius: 4px;
}
.main-content {
  flex-basis: 47%;
}
.imp-links a {
  padding: 21px;
  text-decoration: none;
  background: var(--bg-color);
  font-weight: 600;
  color: var(--text-color);
  display: flex;
  border-radius: 50px;
  align-items: center;
  transition: 0.3s;
  margin-bottom: 15px;
  width: 200px;
}
.imp-links a:hover {
  transition: 0.3s;
  background: var(--bg-color);
  width: 220px;
}
.imp-links a span {
  margin-top: -10px;
  width: 25px;
  margin-right: 15px;
}
.imp-links a:last-child {
  color: var(--icon-color);
  background: none;
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  color: var(--text-color);
}

.sidebar-title h4 {
  font-weight: 600;
  font-size: 16px;
}
.sidebar-title a {
  color: var(--icon-color);
  text-decoration: none;
  font-size: 12px;
}

.event {
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
  padding-left: 20px;
  transition: 0.5s;
}
.left-event {
  background: var(--body-color);
  color: var(--text-color);
  border-radius: 10px;
  height: 65px;
  width: 65px;
  margin-right: 15x;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  /* box-shadow: 0 0 10px rgba(90, 90, 90, 0.1); */
}
.event p {
  font-size: 12px;
}
.event a {
  font-size: 12px;
  text-decoration: none;
  color: var(--icon-color);
}
.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #34d1bf;
  color: var(--text-color);
  font-size: 10px;
  padding: 4px 0;
}
.event:hover {
  transition: 0.5s;
  transform: scale(1.12);
}

.right-event {
  position: relative;
  left: 10px;
  top: 10px;
  color: var(--text-color);
}
.story-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.story {
  flex-basis: 19%;
  padding-top: 20%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.story img {
  position: absolute;
  width: 45px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
}
.story span {
  position: relative;
  background-color: var(--body-color);
  border-radius: 50%;
  top: 10px;
  border: 2px solid var(--icon-color);
}
.story img {
  position: relative;
  border: 2px solid var(--icon-color);
  width: 35px;
  height: 35px;
  top: -120px;
}
.story p {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 30px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.story span:hover + p {
  display: flex;
}
.story img:hover + p {
  display: flex;
  position: absolute;
  top: 25px;
  left: 50px;
  font-weight: 800;
  font-size: 20px;
}
.story1 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/story1.jpg);
}
.story2 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/story2.jpg);
}
.story3 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/story3.jpg);
}
.story4 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/story4.jpg);
}
.story5 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/story5.jpg);
}

.write-post-container {
  width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  /* columns: #797979; */
  color: var(--text-color);
}
.user-profile {
  display: flex;
  align-items: center;
}
.user-profile img {
  width: 50px;
  border-radius: 50px;
  margin-right: 10px;
  cursor: pointer;
}
.user-profile small {
  margin-top: -5px;
  font-weight: 500;
  color: #757575;
  cursor: pointer;
}
.user-profile p {
  font-weight: 700;
  cursor: pointer;
}
.bx {
  color: var(--icon-color);
}
.post-input-container {
  padding-left: 55px;
  padding-top: 20px;
}
.post-input-container textarea {
  padding: 5px 5px;
  width: 50%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid var(--icon-color);
  background: transparent;
  resize: none;
  color: var(--text-color);
  transition: 0.3s;
  transition-delay: 1.5s;
}
.post-input-container textarea:hover {
  background: var(--body-color);
  transition: 0.5s;
  overflow: hidden;
  width: 100%;
}

.add-post-links {
  display: flex;
  margin-top: 10px;
}
.add-post-links a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.add-post-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--text-color);
  margin-right: 30px;
  font-size: 13px;
  transition: 0.3s;
}
.bx-video-plus {
  font-size: 20px;
  margin-right: 5px;
}
.bx-image-add {
  font-size: 20px;
  margin-right: 5px;
}
.bxs-file-plus {
  font-size: 20px;
  margin-right: 5px;
}
.bx-music {
  font-size: 20px;
  margin-right: 5px;
}
.bx-map {
  font-size: 20px;
  margin-right: 5px;
}
.post-container {
  width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: var(--text-color);
  margin: 20px 0;
}
.user-profile span {
  font-size: 13px;
  color: #757575;
}
.post-text {
  color: var(--text-color);
  margin: 15px 0;
  font-size: 15px;
}
.post-text a {
  color: var(--icon-color);
  text-decoration: none;
  transition: 0.5s;
}
.post-text a:hover {
  text-shadow: 0px 0px 3px var(--icon-color);
  transition: 0.5s;
}
.post-img {
  margin-left: 25%;
  width: 50%;
  max-height: 1000px;
  border-radius: 12px;
  margin-bottom: 5px;
}
.post-row {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activity-icons div i {
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.activity-icons div i:hover {
  text-shadow: 0px 0px 1px var(--icon-color);
  transition: 0.3s;
  transform: scale(1.1);
}
.activity-icons div {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}
.post-profile-icon {
  display: flex;
  align-items: center;
}
.post-profile-icon img {
  width: 20px;
  border-radius: 50px;
  margin-right: 5px;
}
.bx-dots-vertical-rounded {
  font-size: 30px;
}
.post-profile-icon {
  cursor: pointer;
}
.load-more-btn {
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #2c2c2c;
  color: var(--text-color);
  background: transparent;
  border-radius: 20px;
  transition: 0.5s;
}
.load-more-btn:hover {
  background: var(--icon-color);
  color: var(--text-color);
  transition: 0.5s;
  border: 1px solid var(--icon-color);
  font-weight: 700;
}
.footer {
  text-align: center;
  width: 65%;
  align-items: center;
  margin: 0px 19% 0px;
  font-size: 13px;
  text-decoration: none;
  color: rgb(65, 65, 65);
  transition: 0.3s;
}
.footer .logo-2 {
  margin-bottom: 10px;
}
.footer:hover {
  transition: 0.3s;
  color: var(--text-color);
}
.settings-menu a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 12px;
  padding: 5px;
}
.settings-menu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  height: 480px;
  background: var(--body-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 115%;
  right: 5%;
  color: var(--text-color);
  max-height: 0;
  transition: max-height 0.3s;
}
.settings-menu-height {
  max-height: 500px;
}
.settings-menu p {
  padding: 5px;
}
.login-button {
  color: var(--icon-color);
  background: transparent;
  border: 0;
  display: flex;
  flex: 1;
  margin-top: -10px;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  padding: 5px;
}
.register-button {
  color: var(--icon-color);
  background: transparent;
  border: 0;
  display: flex;
  flex: 1;
  margin-left: 200px;
  margin-top: -46px;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  padding: 5px;
}
.user-profile i {
  font-size: 20px;
  margin-right: 10px;
}
.user-profile a {
  color: #fe54fe;
}
.user-profile .bx-caret-down {
  font-size: 15px;
}
.settings-menu-inner {
  padding: 20px;
}
.settings-menu hr {
  border: 0;
  height: 1px;
  background: #757575;
  margin: 15px 0;
}
.setting-links {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.setting-links .bx {
  font-size: 20px;
  position: relative;
  margin: 0px 0px 3px;
}
.settings-menu .settings-menu-inner .user-profile {
  transition: 0.3s;
  width: 180px;
  cursor: pointer;
}
.bxs-chevron-right:before {
  content: "\ed3b";
  position: absolute;
  margin: -8px -10px;
}
.setting-links a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding-left: 15px;
  cursor: pointer;
}
/* Light Theme */
#dark-btn {
  position: absolute;
  top: 27px;
  right: 20px;
  background: #fe54fe;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span {
  width: 18px;
  height: 18px;
  background: var(--body-color);
  border-radius: 50px;
  display: inline-block;
}
#dark-btn.dark-btn-on {
  padding-left: 23px;
  background: #ffffff;
}
.dark-btn-text {
  display: block;
  position: absolute;
  padding-top: 0px;
  padding-left: 190px;
}
/* Profile Page */

.profile-container {
  padding: 20px 15%;
  color: #626262;
}
.cover-img {
  margin-left: 10%;
  width: 80%;
  border-radius: 6px;
  margin-bottom: 14px;
}
.profile-details {
  background: var(--bg-color);
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.pd-row {
  display: flex;
  align-items: flex-start;
}
.pd-image {
  width: 100px;
  margin-right: 20px;
  border-radius: 6px;
}
.pd-row div h3 {
  font-size: 25px;
  font-weight: 600;
  color: var(--text-color);
}
.pd-row div p {
  font-size: 13px;
  margin-top: 10px;
}
.pd-row div img {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin-top: 12px;
}
.pd-right .bx {
  font-size: 25px;
}
.pd-right button {
  background: var(--body-color);
  border: 0;
  outline: 0;
  color: var(--text-color);
  padding: 6px 10px;
  margin-top: 6%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s;
}
.pd-right button:hover {
  box-shadow: 0 2px 10px #0a0a0a;
}
.post-col .write-post-container {
  width: 66%;
  margin-left: 0%;
}
.post-col .post-container {
  width: 66%;
  margin-left: 0%;
}
.profile-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}
.info-col {
  flex-basis: 34%;
}
.post-col {
  flex-basis: 65%;
}
.profile-intro {
  background: var(--bg-color);
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 64.7%;
  border-radius: 4px;
}
.profile-intro h3 {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
}
.intro-text {
  text-align: left;
  color: #757575;
  font-size: 10px;
  margin-top: 5px;
}
.profile-intro hr {
  border: 0;
  height: 1px;
  background: var(--icon-color);
  margin: 24px 0;
}
.profile-intro ul li {
  list-style: none;
  font-size: 15px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--text-color);
  cursor: pointer;
}
.profile-intro a {
  text-decoration: none;
}
.profile-intro .bx {
  margin-right: 5px;
  font-size: 20px;
  margin-top: -3px;
}
.title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-box a {
  text-decoration: none;
  color: var(--icon-color);
  font-size: 14px;
}
.photo-box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin-top: 15px;
}
.photo-box div img {
  position: relative;
  margin-left: -5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
}
.container-signup {
  max-width: 700px;
  width: 100%;
  background: var(--bg-color);
  margin-left: 29%;
  margin-right: 29%;
  margin-top: 30px;
  color: var(--text-color);
  margin-bottom: 40px;
  border-radius: 5px;
  padding: 15px 40px 20px;
}
.container-signup .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  margin-left: 35%;
  margin-top: 20px;
}
.container-signup .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 183px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container-signup form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  margin: 20px 0 12px 0;
  width: calc(100% / 2 - 20px);
}
.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  background: var(--body-color);
  color: var(--text-color);
  border: 1px solid rgb(70, 70, 70);
  outline: none;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: 0.3s;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: var(--icon-color);
  transition-delay: 0.1s;
  box-shadow: 0 0px 20px var(--icon-color);
}
form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
form .gender-details .category {
  display: flex;
  width: 100%;
  margin: 14px 0;
  justify-content: space-between;
}
.gender-details .category label {
  display: flex;
  align-items: center;
}
.gender-details .category .dot {
  height: 18px;
  width: 18px;
  background: var(--body-color);
  border-radius: 50px;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: 0.3s;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: var(--body-color);
  background: var(--icon-color);
  transition-delay: 0.1s;
  box-shadow: 0 0px 10px var(--icon-color);
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 45px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #000;
  background: linear-gradient(135deg, #fe54fe, #33faf0);
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  transition: 0.3s;
}
form .button input:hover {
  transition: 0.3s;
  transition-delay: 0.1s;
  box-shadow: 0 0px 30px var(--icon-color);
  transform: scale(1.1);
}
@media (max-width: 700px) {
  .container-signup {
    max-width: 100%;
  }
  form .user-details .input-box {
    width: 100%;
  }
  form .gender-details .category {
    width: 100%;
  }
  .container-signup form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 0;
  }
}
.container-login {
  background: var(--bg-color);
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.container-login form .title {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
  margin-left: 90px;
}
.container-login form .title::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 98px;
  bottom: 0px;

  margin-top: 5px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container-login form .input-box {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.container-login form .input-box input {
  color: var(--text-color);
  background: var(--body-color);
  padding: 15px;
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s;
}
.container-login form .underline::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #555555;
  left: 0;
  bottom: 0;
}
.container-login form .underline::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: var(--icon-color);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.container-login form .input-box input:focus ~ .underline::after,
.container-login form .input-box input:valid ~ .underline::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: 0.5s;
}

.container-login form .button {
  margin: 40px 0 20px 0;
}

.container-login form .input-box input[type="submit"]:hover {
  transition: 0.3s;
  transform: scale(1.1);
  background: var(--icon-color);
  cursor: pointer;
}
.container-login .option {
  font-size: 14px;
  text-align: center;
  color: var(--text-color);
}
.container-login .twitter a,
.container-login .vk a,
.container-login .apple a {
  display: block;
  width: 100%;
  height: 45px;
  font-size: 15px;
  text-decoration: none;
  color: var(--text-color);
  line-height: 45px;
  border-radius: 5px;
}
.container-login .twitter i,
.container-login .vk i,
.container-login .apple i {
  margin-top: 10px;
  padding-right: 12px;
  font-size: 20px;
  color: var(--text-color);
}
.container-login .twitter a,
.container-login .apple a,
.container-login .vk a {
  transition: 0.3s;
  padding: 0px 8%;
  margin: 20px 0 15px 0;
  background: var(--body-color);
}
.container-login .twitter a:hover {
  transition: 0.3s;
  padding: 0px 8%;
  margin: 20px 0 15px 0;
  box-shadow: 0 0px 50px inset #1abeff;
}
.container-login .vk a:hover {
  transition: 0.3s;
  padding: 0px 8%;
  margin: 20px 0 15px 0;
  box-shadow: 0 0 50px inset #1443aa;
}
.container-login .apple a:hover {
  transition: 0.3s;
  padding: 0px 8%;
  margin: 20px 0 15px 0;
  box-shadow: 0 0 50px inset #858585;
}
@media (max-width: 700px) {
  .search-box {
    display: none;
  }
  html, body{
    display: block;
  }
  .container-login{
    max-width: 350px;
    width: 87%; 
    padding: 15px;
    margin-left: 7%;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .container-login form .title{
    margin-left: 35%;
  }
.logo{
    padding: 0;
  margin-left: 5%;
  margin-right: 0px;
}
.logo-2{
  margin-left: 30%;
}
.nav-left ul li{
  display: none;
}
.nav-user-icon img{
  display: none;
}
.online::after{
  display: none;
  }
  nav{
    margin-top: 0px;
    width: 100%;
  }
  .footer a img {
    display: none;
  }
  .footer{
    margin-bottom: 0;
  }
}
@media (max-width: 1024px) {
nav{
    margin-top: -16px;
    width: 100%;
  }
}
