* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

html,
body {
    display: grid;
    height: 100vh;
    width: 100%;
    background: var(--body-color);
    place-items: center;
}

:root {
    --body-color: #0a0a0a;
    --nav-color: #19191a;
    --bg-color: #19191a;
    --icon-color: #fe54fe;
    --side-color: #6dcfd6;
    --text-color: #fff;
}


/* Light Theme */

.light-theme {
    --body-color: #d6d6d6;
    --nav-color: #efefef;
    --bg-color: #efefef;
    --icon-color: #3454d1;
    --side-color: #6dcfd6;
    --text-color: #000;
}

nav {
    -webkit-backdrop-filter: blur(1.5rem);
    backdrop-filter: blur(1.5rem);
    box-shadow: -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.07), 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12), -0.75rem -0.75rem 1.75rem rgba(255, 255, 255, 0.07), 0.75rem 0.75rem 1.75rem rgba(0, 0, 0, 0.12), inset 8rem 8rem 8rem rgba(0, 0, 0, 0.05), inset -8rem -8rem 8rem rgba(255, 255, 255, 0.05);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.my-class .bar {
    background: var(--icon-color);
}

.logo {
    width: 50px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.9s;
}

.logo:hover {
    transition: 0.9s;
    transform: rotateY(360deg);
}

.logo-2 {
    width: 150px;
    margin-left: 10px;
    cursor: pointer;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left ul li {
    display: none;
    list-style: none;
    display: inline-block;
}

.nav-left ul li span {
    width: 10px;
    margin: 0 30px;
}

.nav-left .material-icons-outlined {
    color: var(--icon-color);
    cursor: pointer;
    padding-top: 3px;
    zoom: 0%;
    padding: 10px;
}

.material-icons-outlined {
    color: var(--icon-color);
    cursor: pointer;
    align-items: center;
}

.left-sidebar .material-icons-outlined {
    padding-top: 8px;
}



.search-box {
    background: transparent;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    transition: 0.3s;
    transition-delay: 1.5s;
    border: 1px solid var(--icon-color);
}

.search-box:hover {
    width: 400px;
    transition: 0.3s;
    background: var(--nav-color);
}

.search-box img {
    width: 18px;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
    color: var(--text-color);
    padding-top: 14px;
}

nav .nav-right .search-box {
    position: relative;
    left: -53px;
}





.footer {
    text-align: center;
    width: 65%;
    align-items: center;
    margin: 0px 19% 0px;
    font-size: 13px;
    text-decoration: none;
    color: rgb(65, 65, 65);
    transition: 0.3s;
}

.footer .logo-2 {
    margin-bottom: 10px;
}

.footer:hover {
    transition: 0.3s;
    color: var(--text-color);
}




/* Light Theme */

#dark-btn {
    position: absolute;
    top: 27px;
    right: 20px;
    background: #fe54fe;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span {
    width: 18px;
    height: 18px;
    background: var(--body-color);
    border-radius: 50px;
    display: inline-block;
}

#dark-btn.dark-btn-on {
    padding-left: 23px;
    background: #ffffff;
}

.dark-btn-text {
    display: block;
    position: absolute;
    padding-top: 0px;
    padding-left: 190px;
}




.container-signup {
    max-width: 700px;
    width: 100%;
    background: var(--bg-color);
    margin-left: 29%;
    margin-right: 29%;
    margin-top: 30px;
    color: var(--text-color);
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 15px 40px 20px;
}

.container-signup .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-left: 35%;
    margin-top: 20px;
}

.container-signup .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 183px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container-signup form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.input-box :is(label, i) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--icon-color);
    left: 86%;
    cursor: pointer;
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    background: var(--body-color);
    color: var(--text-color);
    border: 1px solid rgb(70, 70, 70);
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: 0.3s;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: var(--icon-color);
    transition-delay: 0.1s;
    box-shadow: 0 0px 20px var(--icon-color);
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category {
    display: flex;
    width: 100%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-details .category label {
    display: flex;
    align-items: center;
}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: var(--body-color);
    border-radius: 50px;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: 0.3s;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    border-color: var(--body-color);
    background: var(--icon-color);
    transition-delay: 0.1s;
    box-shadow: 0 0px 10px var(--icon-color);
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #000;
    background: linear-gradient(135deg, #fe54fe, #33faf0);
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    transition: 0.3s;
}

form .button input:hover {
    transition: 0.3s;
    transition-delay: 0.1s;
    box-shadow: 0 0px 30px var(--icon-color);
    transform: scale(1.1);
}

.container-login .errorlist {
    background: #99000e;
    overflow: hidden;
    display: flex;
    text-align: center;
    list-style: none;
    margin-top: 20px;
    padding: 5px;
    color: white;
    height: 110px;
    flex-direction: column-reverse;
}

.container-login li#text {
    display: none;
}

@media (max-width: 540px) {
    .container-signup {
        max-width: 100%;
    }
    form .user-details .input-box {
        width: 100%;
    }
    form .gender-details .category {
        width: 100%;
    }
    .container-signup form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
        width: 0;
    }
}

.container-login {
    margin-top: 60px;
    background: var(--bg-color);
    max-width: 365px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.container-login form .title {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0px 20px 0;
    position: relative;
    margin-left: 110px;
}

.container-login form .title::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 98px;
    bottom: 0px;
    margin-top: 5px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container-login form .input-box {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
}

.container-login form .input-box input {
    color: var(--text-color);
    background: var(--body-color);
    padding: 15px;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
}

.container-login form .underline::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #555555;
    left: 0;
    bottom: 0;
}

.container-login form .underline::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: var(--icon-color);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
}

.container-login form .input-box input:focus~.underline::after,
.container-login form .input-box input:valid~.underline::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: 0.5s;
}

.container-login form .button {
    margin: 40px 0 20px 0;
}

.container-login form .input-box input[type="submit"]:hover {
    transition: 0.3s;
    color: white;
    transform: scale(1.1);
    background: var(--icon-color);
    cursor: pointer;
}

.container-login .option {
    font-size: 14px;
    text-align: center;
    color: var(--text-color);
}

.container-login .twitter a,
.container-login .vk a,
.container-login .apple a {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 45px;
    font-size: 15px;
    text-decoration: none;
    color: var(--text-color);
    line-height: 45px;
    border-radius: 5px;
}

.container-login .twitter i,
.container-login .vk i,
.container-login .apple i {
    margin-top: 10px;
    padding-right: 12px;
    font-size: 20px;
    color: var(--text-color);
}

.container-login .twitter a,
.container-login .apple a,
.container-login .vk a {
    transition: 0.3s;
    padding: 0px 8%;
    margin: 20px 0 15px 0;
    background: var(--body-color);
}

.container-login .twitter a:hover {
    transition: 0.3s;
    padding: 0px 8%;
    margin: 20px 0 15px 0;
    box-shadow: 0 0px 50px inset #1abeff;
}

.container-login .vk a:hover {
    transition: 0.3s;
    padding: 0px 8%;
    margin: 20px 0 15px 0;
    box-shadow: 0 0 50px inset #1443aa;
}

.container-login .apple a:hover {
    transition: 0.3s;
    padding: 0px 8%;
    margin: 20px 0 15px 0;
    box-shadow: 0 0 50px inset #858585;
}

@media (max-width: 540px) {
    .search-box {
        display: none;
    }
    html,
    body {
        display: block;
    }
    .container-login {
        max-width: 350px;
        width: 87%;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 54px;
        margin-bottom: 5px;
    }
    .container-login form .title {
        margin-left: 35%;
    }
    .logo {
        padding: 0;
        margin-left: 10%;
        margin-right: 0px;
    }
    .logo-2 {
        margin-left: 35%;
    }
    .nav-left ul li {
        display: none;
    }
    .nav-user-icon img {
        display: none;
    }
    .online::after {
        display: none;
    }
    nav {
        margin-top: 0;
        width: 100%;
    }
    .footer a img {
        display: none;
    }
    .footer {
        margin-bottom: 0;
    }
}