<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIKUCLUB - Mikufan's community</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/style-friends.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".notification_icon .fa-bell").click(function() {
                $(".dropdown").toggleClass("active");
            })
        });
    </script>
</head>

<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
    </style>
    <nav>
        <script>
            $(document).ready(function() {
                $('#nav-icon4').click(function() {
                    $(this).toggleClass('open');
                });
            });
            $(document).ready(function() {
                $('#nav-icon4').click(function() {
                    $("#leftsidebar").toggleClass('active');
                });
            });
        </script>
        <div class="nav-left">
            <div id="nav-icon4">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a><img src="../static/images/logo-1.png" class="logo"></a>
            <a href="/mikuclub"><img src="../static/images/logo-2.png" class="logo-2"></a>
        </div>
        <div class="nav-right">
            <div class="search-box">
                <span class="material-icons-outlined">
                    search
                    </span>
                <input type="text" placeholder="Поиск...">
            </div>
            <div class="nav-user-icon online" onclick="settingsMenuToggle()">
                <img src="../static/images/profile-11.png">
            </div>
        </div>
        <!-- Settings menu -->
        <div class="settings-menu">

            <div id="dark-btn">
                <span></span>
            </div>
            <div class="dark-btn-text">
                <span id="switch-text">Сменить тему</span>
            </div>


            <!-- Settings menu -->
            <div class="settings-menu-inner">
                <div class="user-profile">
                    <img src="../static/images/profile-11.png">
                    <div>
                        <p>VIZXRD</p>
                        <a href="../templates/profile.html">Профиль</a>
                    </div>
                </div>
                <hr>


                <div class="setting-links">
                    <i class='bx bx-cog'></i>
                    <a href="#">Настройки и приватность <i class='bx bxs-chevron-right'></i></a>
                </div>
                <hr>
                <div class="setting-links">
                    <i class='bx bx-help-circle'></i>
                    <a href="#">Помощь <i class='bx bxs-chevron-right'></i></a>
                </div>
                <hr>
                <div class="setting-links">
                    <i class='bx bx-desktop'></i>
                    <a href="#">Настройки отображения <i class='bx bxs-chevron-right'></i></a>
                </div>
                <hr>
                <div class="setting-links">
                    <i class='bx bxs-log-out'></i>
                    <a href="#">Выйти </a>
                </div>
                <a href="../templates/registration/login.html">
                    <h4 class="login-button">Войти</h4>
                </a>
                <a href="../templates/registration/signup.html">
                    <h4 class="register-button">Регистрация</h4>
                </a>
            </div>
    </nav>

    <div class="container">
        <div class="wrapper">
            <div class="notification_wrap">
                <div class="notification_icon">
                    <i class='fa-regular fa-bell'></i>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <div class="notify_item">
                <div class="notify_img">
                    <img src="../static/images/story1.jpg">
                </div>
                <div class="notify_info">
                    <p>Alex оставил комментарий под<span>записью</span></p>
                    <span class="notify_time">10 минут назад</span>
                </div>
            </div>
            <div class="notify_item">
                <div class="notify_img">
                    <img src="../static/images/story2.jpg">
                </div>
                <div class="notify_info">
                    <p>Ben оставил комментарий под<span>записью</span></p>
                    <span class="notify_time">55 минут назад</span>
                </div>
            </div>
            <div class="notify_item">
                <div class="notify_img">
                    <img src="../static/images/story3.jpg">
                </div>
                <div class="notify_info">
                    <p>Meryn лайкнул<span>изображение профиля</span></p>
                    <span class="notify_time">2 часа назад</span>
                </div>
            </div>
            <div class="notify_item">
                <div class="notify_img">
                    <img src="../static/images/story4.jpg">
                </div>
                <div class="notify_info">
                    <p>John оставил комментарий под<span>изображение профиля</span></p>
                    <span class="notify_time">6 часов назад</span>
                </div>
            </div>
        </div>
        <!--Left sidebar-->
        <div class="left-sidebar" id="leftsidebar">
            <div class="imp-links">
                <a href="/mikuclub"><span class="material-icons-outlined">newspaper</span><i>Новости</i></a>
                <a href="../templates/friends.html"><span class="material-icons-outlined">people</span><i>Друзья</i></a>
                <a href="../templates/messages.html"><span class="material-icons-outlined">email</span><i>Сообщения</i></a>
                <a href="../templates/groups.html"><span class="material-icons-outlined">groups</span><i>Группы</i></a>
                <a href="../templates/music.html"><span class="material-icons-outlined">headphones</span><i>Музыка</i></a>
                <a href="#"><span class="material-icons-outlined">theaters</span><i>Видео</i></a>
                <a href="#"></a>
            </div>
        </div>

        <div class="container-friends">
            <div class="card">
                <img src="../static/images/story2.jpg" alt="Person" class="card__image">
                <p class="card__name">Lily</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        156 Посты
                    </div>

                    <div class="grid-child-followers">
                        1012 Лайки
                    </div>

                </div>


                <button class="btn draw-border">Написать</button>

            </div>
            <div class="card">
                <img src="../static/images/story3.jpg" alt="Person" class="card__image">
                <p class="card__name">Murray</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        305 Посты
                    </div>

                    <div class="grid-child-followers">
                        2643 Лайки
                    </div>

                </div>

                <button class="btn draw-border">Написать</button>
            </div>
            <div class="card">
                <img src="../static/images/story4.jpg" alt="Person" class="card__image">
                <p class="card__name">Bianca</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        902 Посты
                    </div>

                    <div class="grid-child-followers">
                        1300 Лайки
                    </div>

                </div>

                <button class="btn draw-border">Написать</button>

            </div>
            <div class="card">
                <img src="../static/images/story2.jpg" alt="Person" class="card__image">
                <p class="card__name">Cindy</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        156 Посты
                    </div>

                    <div class="grid-child-followers">
                        1012 Лайки
                    </div>

                </div>


                <button class="btn draw-border">Написать</button>

            </div>
            <div class="card">
                <img src="../static/images/story3.jpg" alt="Person" class="card__image">
                <p class="card__name">Max</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        305 Посты
                    </div>

                    <div class="grid-child-followers">
                        2643 Лайки
                    </div>

                </div>

                <button class="btn draw-border">Написать</button>
            </div>
            <div class="card">
                <img src="../static/images/story4.jpg" alt="Person" class="card__image">
                <p class="card__name">Ben</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        902 Посты
                    </div>

                    <div class="grid-child-followers">
                        1300 Лайки
                    </div>

                </div>

                <button class="btn draw-border">Написать</button>

            </div>
            <div class="card">
                <img src="../static/images/story4.jpg" alt="Person" class="card__image">
                <p class="card__name">Peter</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        30 Посты
                    </div>

                    <div class="grid-child-followers">
                        23 Лайки
                    </div>

                </div>

                <button class="btn draw-border">Написать</button>
            </div>
            <div class="card">
                <img src="../static/images/story1.jpg" alt="Person" class="card__image">
                <p class="card__name">Cloe</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        5 Посты
                    </div>

                    <div class="grid-child-followers">
                        43 Лайки
                    </div>

                </div>

                <button class="btn draw-border">Написать</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>©Copyright 2022 - MIKUCLUB - Mikufan's community.</p>
        <br/>
        <a href="/mikuclub"> <img src="../static/images/logo-1.png" class="logo"></a>
        <a href="/mikuclub"><img src="../static/images/logo-2.png" class="logo-2"></a>
    </div>
    <script src="../static/script.js"></script>
</body>

</html>