<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIKUCLUB - Mikufan's community</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="/static/style-friends.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/nanobar-master/nanobar.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".notification_icon .fa-bell").click(function() {
                $(".dropdown").toggleClass("active");
            })
        });
    </script>
</head>

<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
    </style>
    {% include 'nanobar.html' %} {% include 'navbar.html' %}

    <div class="container">
        {% include 'notifications.html' %} {% include 'left_menu.html' %}

        <div class="container-friends">
            <div class="card">
                <img src="/static/images/story2.jpg" alt="Person" class="card__image">
                <p class="card__name">Lily</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        156 Посты
                    </div>

                    <div class="grid-child-followers">
                        1012 Лайки
                    </div>

                </div>


                <button class="btn draw-border">Написать</button>

            </div>
            <div class="card">
                <img src="/static/images/story3.jpg" alt="Person" class="card__image">
                <p class="card__name">Murray</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        305 Посты
                    </div>

                    <div class="grid-child-followers">
                        2643 Лайки
                    </div>

                </div>

                <button class="btn draw-border">Написать</button>
            </div>
            <div class="card">
                <img src="/static/images/story4.jpg" alt="Person" class="card__image">
                <p class="card__name">Bianca</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        902 Посты
                    </div>

                    <div class="grid-child-followers">
                        1300 Лайки
                    </div>

                </div>

                <button class="btn draw-border">Написать</button>

            </div>
            <div class="card">
                <img src="/static/images/story2.jpg" alt="Person" class="card__image">
                <p class="card__name">Cindy</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        156 Посты
                    </div>

                    <div class="grid-child-followers">
                        1012 Лайки
                    </div>

                </div>


                <button class="btn draw-border">Написать</button>

            </div>
            <div class="card">
                <img src="/static/images/story3.jpg" alt="Person" class="card__image">
                <p class="card__name">Max</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        305 Посты
                    </div>

                    <div class="grid-child-followers">
                        2643 Лайки
                    </div>

                </div>

                <button class="btn draw-border">Написать</button>
            </div>
            <div class="card">
                <img src="/static/images/story4.jpg" alt="Person" class="card__image">
                <p class="card__name">Ben</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        902 Посты
                    </div>

                    <div class="grid-child-followers">
                        1300 Лайки
                    </div>

                </div>

                <button class="btn draw-border">Написать</button>

            </div>
            <div class="card">
                <img src="/static/images/story4.jpg" alt="Person" class="card__image">
                <p class="card__name">Peter</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        30 Посты
                    </div>

                    <div class="grid-child-followers">
                        23 Лайки
                    </div>

                </div>

                <button class="btn draw-border">Написать</button>
            </div>
            <div class="card">
                <img src="/static/images/story1.jpg" alt="Person" class="card__image">
                <p class="card__name">Cloe</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        5 Посты
                    </div>

                    <div class="grid-child-followers">
                        43 Лайки
                    </div>

                </div>

                <button class="btn draw-border">Написать</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>©Copyright 2022 - MIKUCLUB - Mikufan's community.</p>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>