<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIKUCLUB - Mikufan's community</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="/static/style-groups.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/nanobar-master/nanobar.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".notification_icon .fa-bell").click(function() {
                $(".dropdown").toggleClass("active");
            })
        });
    </script>
</head>

<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
    </style>
    {% include 'nanobar.html' %} {% include 'navbar.html' %}

    <div class="container">
        {% include 'notifications.html' %} {% include 'left_menu.html' %}


        <div class="all">
            <div class="groups-grid">
                <div class="card shadow-1">
                    <div class="group-1">
                        <div class="group-img">
                            <div class="create-group">
                                <div><i class="group-number">9 групп</i></div>
                                <div>
                                    <i class="title">Создать группу</i>
                                </div>
                                <div class="group-followers"></div>
                            </div>

                        </div>
                    </div>
                    <div class="card shadow-1">
                        <div class="group-1">
                            <div class="group-img">
                                <img src="/static/images/logo-1.png">
                                <div class="group-title">
                                    <i class="title">MIKUCLUB</i>
                                </div>
                                <div class="group-followers">
                                    <i class="followers-number">20K Участников</i>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card shadow-1">
                        <div class="group-1">
                            <div class="group-img">
                                <img src="/static/images/story1.jpg">
                                <div class="group-title">
                                    <i class="title">Sam's Blog</i>
                                </div>
                                <div class="group-followers">
                                    <i class="followers-number">25 Участников</i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card shadow-1">
                        <div class="group-1">
                            <div class="group-img">
                                <img src="/static/images/story2.jpg">
                                <div class="group-title">
                                    <i class="title">VIZXRD Home</i>
                                </div>
                                <div class="group-followers">
                                    <i class="followers-number">10K Участников</i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card shadow-1">
                        <div class="group-1">
                            <div class="group-img">
                                <img src="/static/images/story3.jpg">
                                <div class="group-title">
                                    <i class="title">Аниме и манга</i>
                                </div>
                                <div class="group-followers">
                                    <i class="followers-number">1K Участников</i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card shadow-1">
                        <div class="group-1">
                            <div class="group-img">
                                <img src="/static/images/story4.jpg">
                                <div class="group-title">
                                    <i class="title">Фильмы и сериалы</i>
                                </div>
                                <div class="group-followers">
                                    <i class="followers-number">2K Участников</i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card shadow-1">
                        <div class="group-1">
                            <div class="group-img">
                                <img src="/static/images/story5.jpg">
                                <div class="group-title">
                                    <i class="title">Музыка</i>
                                </div>
                                <div class="group-followers">
                                    <i class="followers-number">3K Участников</i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card shadow-1">
                        <div class="group-1">
                            <div class="group-img">
                                <img src="/static/images/story2.jpg">
                                <div class="group-title">
                                    <i class="title">Программы</i>
                                </div>
                                <div class="group-followers">
                                    <i class="followers-number">2K Участников</i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card shadow-1">
                        <div class="group-1">
                            <div class="group-img">
                                <img src="/static/images/story3.jpg">
                                <div class="group-title">
                                    <i class="title">Компьютерное железо</i>
                                </div>
                                <div class="group-followers">
                                    <i class="followers-number">100 Участников</i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card shadow-1">
                        <div class="group-1">
                            <div class="group-img">
                                <img src="/static/images/story2.jpg">
                                <div class="group-title">
                                    <i class="title">Вокалоид/Utau/VSynth и др.</i>
                                </div>
                                <div class="group-followers">
                                    <i class="followers-number">4K Участников</i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>




            <div class="footer">
                <p>©Copyright 2022 - MIKUCLUB - Mikufan's community.</p>
            </div>
            <script src="/static/script.js"></script>
</body>

</html>