<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="/static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/nanobar-master/nanobar.min.js"></script>
    <title>Главная - MIKUCLUB</title>
    <!-- NOTIFICATIONS SCRIPT -->
    <script>
        $(document).ready(function() {
            $(".notification_icon .fa-bell").click(function() {
                $(".dropdown").toggleClass("active");
            })
        });
    </script>

</head>


<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
    </style>
    {% include 'nanobar.html' %} {% include 'navbar.html' %}

    <div class="container">
        <!--Left sidebar-->
        {% include 'notifications.html' %} {% include 'left_menu.html' %}{% include 'main_feed.html' %} {% include 'right_sidebar.html' %}
    </div>

    <div class="footer">
        <p>©Copyright 2022 - MIKUCLUB - Mikufan's community.</p>
    </div>
    <script>
        $(document).ready(function() {
            $(".options-icon-comment").click(function() {
                $(".comment-dd-set").toggleClass("active");
            })
        });
    </script>
    <script src="/static/script.js"></script>
    <script src="/static/feed.js"></script>
    <script type="text/javascript">
        var user_id = null;
        var cookie = document.cookie;
        var csrfToken = cookie.substring(cookie.indexOf("=") + 1);
    </script>
    <script>
        load_posts("now", null);
    </script>
</body>

</html>