<!--Left sidebar-->
<div class="left-sidebar" id="leftsidebar">
    <div class="imp-links">
        <a href="/"><span class="material-icons-outlined">newspaper</span><i>Новости</i></a>
        <a href="/friends"><span class="material-icons-outlined">people</span><i>Друзья</i></a>
        <a href="/messages"><span class="material-icons-outlined">email</span><i>Сообщения</i></a>
        <a href="/groups"><span class="material-icons-outlined">groups</span><i>Группы</i></a>
        <a href="/music"><span class="material-icons-outlined">headphones</span><i>Музыка</i></a>
        <a href="/video"><span class="material-icons-outlined">theaters</span><i>Видео</i></a>
        <a href="#"></a>
    </div>
</div>