<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сообщения</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="/static/style-messages.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/nanobar-master/nanobar.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".notification_icon .fa-bell").click(function() {
                $(".dropdown").toggleClass("active");
            })
        });
    </script>
</head>

<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
    </style>
    {% include 'nanobar.html' %} {% include 'navbar.html' %}
    <div class="container">
        <!--Left sidebar-->
        {% include 'notifications.html' %} {% include 'left_menu.html' %}


        <div class="left-menu-messages">
            <div class="title-messages">
                <h2>Сообщения</h2>
            </div>
            <hr>


            <div class="messages-left-list">
                <div class="messages-list">
                    <div class="friend">
                        <div class="friend-image">
                            <img src="/static/images/story1.jpg">
                            <h4 class="name">Max</h4>
                            <p class="message">Вы: Конечно!</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="messages-list">
                    <div class="friend">
                        <div class="friend-image">
                            <img src="/static/images/story2.jpg">
                            <h4 class="name">Lily</h4>
                            <p class="message">Да. Это так интересно!</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="messages-list">
                    <div class="friend">
                        <div class="friend-image">
                            <img src="/static/images/story3.jpg">
                            <h4 class="name">Murray</h4>
                            <p class="message">Ок.</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="messages-list">
                    <div class="friend">
                        <div class="friend-image">
                            <img src="/static/images/story4.jpg">
                            <h4 class="name">Bianca</h4>
                            <p class="message">Может быть в следующий раз...</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="messages-list">
                    <div class="friend">
                        <div class="friend-image">
                            <img src="/static/images/story5.jpg">
                            <h4 class="name">Ben</h4>
                            <p class="message">No.</p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="main-section-messages">


            <div class="mainsection-img">
                <a href="/profile"><img src="/static/images/story3.jpg"></a>

                <h3>Max</h3>
                <div class="search-box-messages">
                    <div class="search-box-message">
                        <span class="material-icons-outlined">
                        search
                        </span>
                        <input type="text" placeholder="Найти сообщение">
                    </div>
                </div>
                <a href="#"><i class='bx bx-cog'></i></a>
            </div>
            <div class="message-content">
                <div class="message-user">
                    <img src="/static/images/story3.jpg">
                    <div class="message-time">12:30</div>
                    <div class="message-text">xxxxxxxxxxxx
                    </div>
                </div>
                <div class="message-me">
                    {% if user.avatar %}
                    <img src="{{ user.avatar.url }}"> {% else %}
                    <img src="/static/images/user.png"> {% endif %}
                    <div class="message-time">12:31</div>
                    <div class="message-text">xxxxxx</div>
                </div>
                <div class="message-user">
                    <img src="../static/images/story3.jpg">
                    <div class="message-time">12:35</div>
                    <div class="message-text">xxxxxxxxxx
                    </div>
                </div>
                <div class="message-me">
                    {% if user.avatar %}
                    <img src="{{ user.avatar.url }}"> {% else %}
                    <img src="/static/images/user.png"> {% endif %}
                    <div class="message-time">12:39</div>
                    <div class="message-text">Конечно!</div>
                </div>
                <div class="messages-input" name="messages-input">
                    <input type="text" method="POST" placeholder="Введите сообщение..." name="messages-input-input" action="#"> {% csrf_token %}
                </div>
            </div>

        </div>
    </div>


    <div class="footer">
        <p>©Copyright 2022 - MIKUCLUB - Mikufan's community.</p>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>