<div class="wrapper">
    <div class="notification_wrap">
        <div class="notification_icon">
            <i class='fa-regular fa-bell'></i>
        </div>
    </div>
</div>
<div class="dropdown">
    <div class="notify_item">
        <div class="notify_img">
            <img src="/static/images/story1.jpg">
        </div>
        <div class="notify_info">
            <p>Alex оставил комментарий под<span>записью</span></p>
            <span class="notify_time">10 минут назад</span>
        </div>
    </div>
    <div class="notify_item">
        <div class="notify_img">
            <img src="/static/images/story2.jpg">
        </div>
        <div class="notify_info">
            <p>Ben оставил комментарий под<span>записью</span></p>
            <span class="notify_time">55 минут назад</span>
        </div>
    </div>
    <div class="notify_item">
        <div class="notify_img">
            <img src="/static/images/story3.jpg">
        </div>
        <div class="notify_info">
            <p>Meryn лайкнул<span>изображение профиля</span></p>
            <span class="notify_time">2 часа назад</span>
        </div>
    </div>
    <div class="notify_item">
        <div class="notify_img">
            <img src="/static/images/story4.jpg">
        </div>
        <div class="notify_info">
            <p>John оставил комментарий под<span>изображение профиля</span></p>
            <span class="notify_time">6 часов назад</span>
        </div>
    </div>
</div>