<!--Right sidebar-->
<div class="right-sidebar">
    <div class="sidebar-title">
        <h4>События</h4>
        <a href="{% url 'events' %}">Все</a>
    </div>
    <!-- <div id="calendar"></div> -->
    <!--EVENT-->
    <div class="event">
        <div class="left-event">
            <h4>31</h4>
            <span>
                <h4>Августа</h4>
            </span>
        </div>

        <div class="right-event">
            <h4>День Рождения Мику</h4>
            <p><span class="material-icons-outlined">location_on</span>Internet</p>
        </div>

    </div>
    <div class="event">
        <div class="left-event">
            <h4>12-14</h4>
            <span>
                <h4>Августа</h4>
            </span>
        </div>

        <div class="right-event">
            <h4>Magical Mirai 10th Anniversary</h4>
            <span class="material-icons-outlined">location_on</span>INTEX Osaka Hall 4,5A,5B</p>
            <a href="https://magicalmirai.com/10th/index_en.html">Официальный сайт</a>
        </div>

    </div>
    <div class="discord-title">
        <span>
            <h3>Наш сервер в DISCORD</h3>
        </span>
    </div>
    <div class="discord">
        <iframe src="https://discord.com/widget?id=577055711129894922&amp;theme=dark" width="300" height="400" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
</div>