<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIKUCLUB - Mikufan's community</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="/static/style-video.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/nanobar-master/nanobar.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".notification_icon .fa-bell").click(function() {
                $(".dropdown").toggleClass("active");
            })
        });
    </script>
</head>


<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
    </style>
    {% include 'nanobar.html' %} {% include 'navbar.html' %}

    <div class="container">
        <!--Left sidebar-->
        {% include 'notifications.html' %}
        <!--Left sidebar-->
        {% include 'left_menu.html' %}

        <div class="container-video">
            <span>Добавить</span>
            <span>Создать альбом</span>
            <div class="video-grid">
                <div class="video">
                    <iframe width="260" height="200" src="https://www.youtube.com/embed/ZK9JeFpCJa8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                </div>
                <div class="video">
                    <iframe width="260" height="200" src="https://www.youtube.com/embed/ASnrlxuyHLc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                </div>
                <div class="video">
                    <iframe width="260" height="200" src="https://www.youtube.com/embed/I6saPR3I07M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                </div>
                <div class="video">
                    <iframe width="260" height="200" src="https://www.youtube.com/embed/H9DJThYxYMc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                </div>
                <div class="video">
                    <iframe width="260" height="200" src="https://www.youtube.com/embed/96mUmhGaIRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                </div>
                <div class="video">
                    <iframe width="260" height="200" src="https://www.youtube.com/embed/iWy5-qDuV5c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                </div>
                <div class="video">
                    <iframe width="260" height="200" src="https://www.youtube.com/embed/t6wmQy-5EAM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                </div>
                <div class="video">
                    <iframe width="260" height="200" src="https://www.youtube.com/embed/_j5rd9kZIZw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                </div>
            </div>
        </div>


        <div class="footer">
            <p>©Copyright 2022 - MIKUCLUB - Mikufan's community.</p>
        </div>
        <script src="/static/script.js"></script>
</body>

</html>